In [ ]:
import pandas as pd

df = pd.read_csv("data/customer_feedback_satisfaction1.csv")
df

,CustomerID,Age,Gender,Country,Income,ProductQuality,ServiceQuality,PurchaseFrequency,FeedbackScore,LoyaltyLevel,SatisfactionScore
0,15873,35,Male,UK,51449,9,7,10,Medium,Silver,100.00
1,13405,58,Male,Germany,83084,6,2,11,High,Bronze,77.39
2,23386,54,Male,Germany,64889,9,3,2,Low,Silver,100.00
3,38282,29,Female,USA,68789,5,6,13,High,Bronze,73.65
4,12649,50,Male,France,96238,10,8,20,Low,Gold,100.00
...,...,...,...,...,...,...,...,...,...,...,...
995,17581,49,Male,France,94687,9,8,12,Medium,Gold,100.00
996,37994,57,Female,UK,65210,7,5,16,High,Silver,100.00
997,14881,39,Female,Germany,84484,3,6,15,Medium,Silver,97.39
998,12894,21,Male,USA,61020,1,6,19,Medium,Gold,82.91
999,895,50,Female,France,108811,5,1,5,High,Gold,67.64